# Dependencies
node_modules
**/node_modules

# Production builds
dist
**/dist
coverage
**/coverage

# Environment variables & secrets
.env
**/.env
*.env.local

# SQLite Databases & data folders
*.db
*.db-journal
backend/prisma/data/*.db

# Logs
logs
*.log
npm-debug.log*

# System & IDE
.DS_Store
.vscode
.idea
